.navigation {
  &-checkbox {
    display: none;
  }
  &-checkbox:checked ~ &-bg {
    transform: scale(90);
  }
  &-checkbox:checked ~ &-nav {
    opacity: 1;
    width: 100vw;
  }
  &-checkbox:checked + &-button .menu-bar {
    background-color: transparent;
    &::before {
      transform: rotate(-45deg);
      top: 0;
    }
    &::after {
      top: 0;
      transform: rotate(45deg);
    }
  }
  &-button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    .menu-bar {
      position: relative;
      margin-top: 1.5rem;
      &,
      &::before,
      &::after {
        width: 3rem;
        height: 2px;
        background-color: $color-gray-dark;
        display: inline-block;
        transition: all 0.3s;
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
      }
      &::before {
        top: -0.8rem;
      }
      &::after {
        top: 0.8rem;
      }
    }
  }
  &-button:hover .menu-bar {
    &::before {
      top: -1rem;
    }
    &::after {
      top: 1rem;
    }
  }
  &-bg {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000;
    transition: all 0.5s cubic-bezier(0.86, 0, 0, 0.7);
  }
  &-nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.5s cubic-bezier(0.86, 0, 0, 0.7);
    &-list {
      @include centerElement;
      list-style: none;
      text-align: center;
      width: 100%;
      &-item {
        margin: 1rem;
        &-link {
          display: inline-block;
          &:link,
          &:visited {
            font-size: 3rem;
            font-weight: 300;
            color: $color-white;
            padding: 1rem 2rem;
            text-transform: uppercase;
            background-image: linear-gradient(
              120deg,
              transparent 0%,
              transparent 50%,
              $color-white 50%
            );
            background-size: 220%;
            transition: all 0.4s;
            text-decoration: none;
          }
          &:hover,
          &:active {
            background-position: 100%;
            color: $color-gray-dark;
            transform: translateX(1rem);
          }
        }
      }
    }
  }
}
